.mainSection {
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headText {
  font-size: 4.5rem;
}

.headParagraph {
  font-size: 1rem;
}

.startBtn {
  margin-top: 2.7rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  background-color: #000000;
  transition: 1s ease-in-out;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.formsContainer {
  margin-bottom: 10rem;
  width: 22rem;
}

@media (max-width: 600px) {
  .headText {
    font-size: 2rem;
  }
  .headParagraph {
    font-size: 0.8rem;
  }
}

@media (min-width: 601px) and (max-width: 800px) {
  .headText {
    font-size: 3rem;
  }
}
